.wrapper {
    position: relative;
    transition: 200ms ease;

}

.card {
    position: relative;
    margin: 5rem 0;
    padding: 2rem;
    overflow-x: hidden;

}

.card_img img {
    height: 290px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 1rem;

}

.card_img {
    display: flex;
    gap: 2rem;
    width: max-content;
    object-fit: contain;
    position: relative;

}

.card_info {
    position: absolute;
    bottom: -1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;

}

.card_info p {
    font-size: 1.3rem;
}

.card_des {
    position: absolute;
    bottom: 0rem;

    padding: 2rem;
    width: 200px;
    height: 100%;
    /* background-color: white; */
    background-image: linear-gradient(rgb(0, 0, 0, 0.03), rgba(0, 0, 0, 1));

    color: white;
    transition: 300ms ease-in-out;
    opacity: 0;
    cursor: pointer;
}

.card_des:hover {
    opacity: 1;

}

p.card_des {
    font-size: 1.4rem;
    max-width: 200px;
}

.card_des>span {
    color: white;
    font-weight: 700;
    font-size: 1.8rem;

}

.arrow1,
.arrow2 {
    background-color: white;
    color: black;
    border-radius: 10rem;
    padding: 1rem;
    opacity: .9;

}

.arrow1 {
    position: absolute;
    top: 23rem;
    left: 1rem;
    z-index: 100;
    cursor: pointer;


}



.arrow2 {
    position: absolute;
    top: 23rem;

    right: 1rem;
    z-index: 1000;
    cursor: pointer;

}