.movie_detail-wrapper {
    position: relative;
    padding: 4rem;

}

.movie_detail-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    position: absolute;
    top: 6%;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(rgb(0, 0, 0, 0.05), rgba(0, 0, 0, 1));

}

.movie_detail-backdropImg {
    width: 80%;
    height: 600px;
    margin: 0 auto;



}

.movie_detail-backdropImg img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.movie_detail-poster {
    width: 290px;


}

.movie_detail-poster img {
    width: 80%;
    object-fit: contain;
    border-radius: 3rem;

}

.movie_deatil-overlay {

    display: flex;
    flex-direction: column;
    width: 40%;
    overflow-x: hidden;
    z-index: 100;
    padding: 2rem;

}

.movie_detail-title {
    font-weight: 900;
    font-size: 3.6rem;
    color: white;
    margin-top: 2rem;
}

.movie_detail-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    margin: 1.5rem 0;
    font-size: 1.4rem;
    font-weight: 400;
}

.movie_detail-tagline {
    color: white;
    font-size: 1.4rem;
    margin-bottom: 1rem;

    font-weight: 700;

}

.movie_detail-genres {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    font-size: 1.3rem;
    background-color: white;
    padding: .3rem .7rem;
    width: max-content;
    border-radius: 10px;
    margin: 1rem 0;

}

.movie_detail-genres span {
    color: black;

}

.movie_detail-des {
    max-width: 550px;
    text-align: left;
    font-size: 1.2rem;
    color: white;
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    font-style: italic;
}

.movie_detail-des span {
    font-size: 1.6rem;
    font-weight: 600;
}

@media (max-width:780px) {
    .movie_detail-backdropImg {
        display: none;
    }


}

@media (max-width:680px) {
    .movie_deatil-overlay {
        width: 100%;
    }

    .movie_detail-title,
    .movie_detail-tagline,
    .movie_detail-des,
    .movie_detail-genres,
    .movie_detail-info {
        font-size: 78.5% !important;
    }
}